* {
    box-sizing: border-box;
    padding: 0;

}

button {
    width: 33.3px;
    height: 30px;
}

button[id="b0"] {
    width: 100%;
    color: red;
}

div[id="todo"] {
    width: 133px;
}

/* div[id="operador"]{
    width:33px
} */

div {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

input {
    width: 100px;
    height: 30px;
}